#work{
    width: 70%;
    float: right;
    margin-top: 100px;
}
.linija{
    width: 90%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.work{
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.slika{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.custom-slika{
    width: 200px;
    height: 180px;
}

.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
span{
    color: rgba(136, 133, 133, 0.767);
}


@media screen and (max-width: 998px) {
    #work{
        width: 90%;
    }
    .work{
        height: 450px;
        flex-direction: column;
    }
}